# Input library

In [2]:
# Import library yang diperlukan  
import numpy as np  
import pandas as pd  
from sklearn.linear_model import LinearRegression  
from sklearn.metrics import mean_squared_error, r2_score

# Input data secara manual atau dengan mengimport file .xlsx/.csv

In [3]:
# Membuat DataFrame menggunakan pandas 
sales = [26.52, 12.48, 11.16, 22.2, 15.48, 8.64, 14.16, 15.84, 5.76, 12.72, 10.32, 20.88, 11.04, 11.64, 22.8, 26.88, 15, 29.28, 13.56, 17.52, 21.6, 15, 6.72, 18.6, 11.64]  
youtube = [276.12, 53.4, 20.64, 181.8, 216.96, 10.44, 69, 144.24, 10.32, 239.76, 79.32, 257.64, 28.56, 117, 244.92, 234.48, 81.36, 337.68, 83.04, 176.76, 262.08, 284.88, 15.84, 273.96, 74.76]  
newspaper = [83.04, 54.12, 83.16, 70.2, 70.08, 90, 28.2, 13.92, 1.2, 25.44, 29.04, 4.8, 79.08, 8.64, 55.2, 63.48, 136.8, 66.96, 21.96, 22.92, 64.08, 28.2, 59.52, 31.44, 21.96]  
   
data = pd.DataFrame({  
    'sales': sales,  
    'youtube': youtube,  
    'newspaper': newspaper  
})  

data

    sales  youtube  newspaper
0   26.52   276.12      83.04
1   12.48    53.40      54.12
2   11.16    20.64      83.16
3   22.20   181.80      70.20
4   15.48   216.96      70.08
5    8.64    10.44      90.00
6   14.16    69.00      28.20
7   15.84   144.24      13.92
8    5.76    10.32       1.20
9   12.72   239.76      25.44
10  10.32    79.32      29.04
11  20.88   257.64       4.80
12  11.04    28.56      79.08
13  11.64   117.00       8.64
14  22.80   244.92      55.20
15  26.88   234.48      63.48
16  15.00    81.36     136.80
17  29.28   337.68      66.96
18  13.56    83.04      21.96
19  17.52   176.76      22.92
20  21.60   262.08      64.08
21  15.00   284.88      28.20
22   6.72    15.84      59.52
23  18.60   273.96      31.44
24  11.64    74.76      21.96

In [8]:
# Membaca file .xlsx
data.xlsx = pd.read_excel("C:/Users/faeri/OneDrive/Documents/Statistika/Asprak Anreg/Minggu 2/data_iklan.xlsx")
print(data.xlsx)

    ID  sales  youtube  newspaper
0    1  26.52   276.12      83.04
1    2  12.48    53.40      54.12
2    3  11.16    20.64      83.16
3    4  22.20   181.80      70.20
4    5  15.48   216.96      70.08
5    6   8.64    10.44      90.00
6    7  14.16    69.00      28.20
7    8  15.84   144.24      13.92
8    9   5.76    10.32       1.20
9   10  12.72   239.76      25.44
10  11  10.32    79.32      29.04
11  12  20.88   257.64       4.80
12  13  11.04    28.56      79.08
13  14  11.64   117.00       8.64
14  15  22.80   244.92      55.20
15  16  26.88   234.48      63.48
16  17  15.00    81.36     136.80
17  18  29.28   337.68      66.96
18  19  13.56    83.04      21.96
19  20  17.52   176.76      22.92
20  21  21.60   262.08      64.08
21  22  15.00   284.88      28.20
22  23   6.72    15.84      59.52
23  24  18.60   273.96      31.44
24  25  11.64    74.76      21.96

C:\Users\faeri\AppData\Local\Temp\ipykernel_21568\3671942255.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.xlsx = pd.read_excel("C:/Users/faeri/OneDrive/Documents/Statistika/Asprak Anreg/Minggu 2/data_iklan.xlsx")

In [9]:
#Membaca file.csv
data.csv = pd.read_csv("C:/Users/faeri/OneDrive/Documents/Statistika/Asprak Anreg/Minggu 2/data_iklan.csv", delimiter=';')
print(data.csv)

    ID  sales  youtube  newspaper
0    1  26.52   276.12      83.04
1    2  12.48    53.40      54.12
2    3  11.16    20.64      83.16
3    4  22.20   181.80      70.20
4    5  15.48   216.96      70.08
5    6   8.64    10.44      90.00
6    7  14.16    69.00      28.20
7    8  15.84   144.24      13.92
8    9   5.76    10.32       1.20
9   10  12.72   239.76      25.44
10  11  10.32    79.32      29.04
11  12  20.88   257.64       4.80
12  13  11.04    28.56      79.08
13  14  11.64   117.00       8.64
14  15  22.80   244.92      55.20
15  16  26.88   234.48      63.48
16  17  15.00    81.36     136.80
17  18  29.28   337.68      66.96
18  19  13.56    83.04      21.96
19  20  17.52   176.76      22.92
20  21  21.60   262.08      64.08
21  22  15.00   284.88      28.20
22  23   6.72    15.84      59.52
23  24  18.60   273.96      31.44
24  25  11.64    74.76      21.96

C:\Users\faeri\AppData\Local\Temp\ipykernel_21568\3399014817.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.csv = pd.read_csv("C:/Users/faeri/OneDrive/Documents/Statistika/Asprak Anreg/Minggu 2/data_iklan.csv", delimiter=';')

# Menghitung koefisien secara manual menggunakan rumus regresi

In [10]:
# Menghitung rata-rata dari 'youtube' dan 'sales'  
x_bar = np.mean(data['youtube'])  
y_bar = np.mean(data['sales'])  
  
# Menghitung B1 (slope)  
numerator = np.sum((data['youtube'] - x_bar) * (data['sales'] - y_bar))  
denominator = np.sum((data['youtube'] - x_bar) ** 2)  
B1_manual = numerator / denominator  
  
# Menghitung B0 (intercept)  
B0_manual = y_bar - B1_manual * x_bar  
  
# Menampilkan hasil koefisien secara manual  
print(f"Koefisien B0 (manual): {B0_manual}")  
print(f"Koefisien B1 (manual): {B1_manual}")

Koefisien B0 (manual): 8.385604123332246
Koefisien B1 (manual): 0.04974884420409588

# Menggunakan fungsi built-in dari scikit-learn

In [7]:
# Menyiapkan data untuk model regresi  
X = data[['youtube']]  # Variabel independen (harus berbentuk 2D array)  
y = data['sales']      # Variabel dependen  
  
# Membuat model regresi linear  
model = LinearRegression()  
  
# Melatih model dengan data  
model.fit(X, y)  
  
# Mendapatkan koefisien B0 dan B1 dari model  
B0_sklearn = model.intercept_  
B1_sklearn = model.coef_[0]  

# Menampilkan hasil koefisien menggunakan scikit-learn  
print(f"Koefisien B0 (scikit-learn): {B0_sklearn}")  
print(f"Koefisien B1 (scikit-learn): {B1_sklearn}")  
  
# Melakukan prediksi menggunakan model  
y_pred = model.predict(X)  
  
# Menghitung metrik evaluasi model  
mse = mean_squared_error(y, y_pred)  
r2 = r2_score(y, y_pred)  
  
# Menampilkan metrik evaluasi model  
print(f"Mean Squared Error (MSE): {mse}")  
print(f"R-squared (R2): {r2}")

Koefisien B0 (scikit-learn): 8.385604123332246
Koefisien B1 (scikit-learn): 0.04974884420409587
Mean Squared Error (MSE): 11.901161484747119
R-squared (R2): 0.687569350610276